In [2]:
import pandas as pd
geopolitics_file = "Resources/US_County_Level_Presidential_Results_12-16.csv"

geopolitics_df = pd.read_csv(geopolitics_file)

In [3]:
geopolitics_df.head()

,Unnamed: 0,combined_fips,votes_dem_2016,votes_gop_2016,total_votes_2016,per_dem_2016,per_gop_2016,diff_2016,per_point_diff_2016,state_abbr,...,FIPS,total_votes_2012,votes_dem_2012,votes_gop_2012,county_fips,state_fips,per_dem_2012,per_gop_2012,diff_2012,per_point_diff_2012
0,0,2013,93003.0,130413.0,246588.0,0.377159,0.52887,37410,-0.151711,AK,...,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2016,93003.0,130413.0,246588.0,0.377159,0.52887,37410,-0.151711,AK,...,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020,93003.0,130413.0,246588.0,0.377159,0.52887,37410,-0.151711,AK,...,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2050,93003.0,130413.0,246588.0,0.377159,0.52887,37410,-0.151711,AK,...,2050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2060,93003.0,130413.0,246588.0,0.377159,0.52887,37410,-0.151711,AK,...,2060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
geopolitics_df.shape

(3141, 5)

In [70]:
geopolitics_df_duplicates_removed = pd.DataFrame.drop_duplicates(geopolitics_df)

In [74]:
clean_politics_2016_df = pd.DataFrame(geopolitics_df_duplicates_removed)

In [75]:
clean_politics_2016_df

,votes_dem_2016,votes_gop_2016,total_votes_2016,state_abbr,county_name
0,93003.0,130413.0,246588.0,AK,Alaska
29,5908.0,18110.0,24661.0,AL,Autauga County
30,18409.0,72780.0,94090.0,AL,Baldwin County
31,4848.0,5431.0,10390.0,AL,Barbour County
32,1874.0,6733.0,8748.0,AL,Bibb County
...,...,...,...,...,...
3136,3233.0,12153.0,16661.0,WY,Sweetwater County
3137,7313.0,3920.0,12176.0,WY,Teton County
3138,1202.0,6154.0,8053.0,WY,Uinta County
3139,532.0,2911.0,3715.0,WY,Washakie County
3140,294.0,2898.0,3334.0,WY,Weston County

In [76]:
clean_politics_2016_df.duplicated()

0       False
29      False
30      False
31      False
32      False
        ...
3136    False
3137    False
3138    False
3139    False
3140    False
Length: 3113, dtype: bool