In [6]:
#Covid_data Part

In [1]:
 %matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# variable to hold csv
#covid case data by state including testing
covidtrack_to_load = "Resources/all-states-history 10-26-2020.csv"
#Data from NYT COVID19 state data API
NYtimes_to_load = "Resources/data from NYT 10-20-2020.csv"
#data recording population of US states taken in 2019
populationfile = 'Resources/pop_est19.csv'
#matches state names to their abbreviations
keyfile = 'Resources/state_abbr list.csv'
#creates dataframe for state abbreviation keys
keydf = pd.read_csv(keyfile)
#creates dataframe for state population data
populationdf = pd.read_csv(populationfile)
#makes state name index of populationdf to support merging with other datasets
populationdf = populationdf.set_index(["NAME"])
# reads covidtrack data into dataframe
covidtrack_data = pd.read_csv(covidtrack_to_load)
#loads NYT COVID19 api data into dataframe
NYtimes_data = pd.read_csv(NYtimes_to_load)
#displays covidtrack data
covidtrack_data.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-10-26,AK,A,68.0,68.0,0,NaN,NaN,NaN,50.0,...,570844.0,10875,NaN,NaN,NaN,NaN,NaN,0,570844.0,10875
1,2020-10-26,AL,A,2866.0,2680.0,0,186.0,19974.0,19974.0,967.0,...,1307694.0,5028,NaN,NaN,80313.0,NaN,NaN,0,1307694.0,5028
2,2020-10-26,AR,A+,1833.0,1676.0,21,157.0,6768.0,6768.0,634.0,...,1294845.0,6845,NaN,21856.0,NaN,47404.0,NaN,0,1294845.0,6845
3,2020-10-26,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1616.0,0,NaN,NaN,NaN,NaN,NaN,0,1616.0,0
4,2020-10-26,AZ,A+,5875.0,5587.0,1,288.0,21097.0,21097.0,837.0,...,1714801.0,8394,314045.0,NaN,NaN,NaN,1714801.0,8394,NaN,0

In [3]:
#loads csv containing state coordinate data for creating a heatmap plot
#loads data into df
state_coord_df = pd.read_csv('Resources/state_geocoord.csv', header=0)
state_coord_df.head()
state_coord_df.rename(columns = {'name':'States'}, inplace = True)
state_coord_df

   state   latitude   longitude                States
0     AK  63.588753 -154.493062                Alaska
1     AL  32.318231  -86.902298               Alabama
2     AR  35.201050  -91.831833              Arkansas
3     AZ  34.048928 -111.093731               Arizona
4     CA  36.778261 -119.417932            California
5     CO  39.550051 -105.782067              Colorado
6     CT  41.603221  -73.087749           Connecticut
7     DC  38.905985  -77.033418  District of Columbia
8     DE  38.910832  -75.527670              Delaware
9     FL  27.664827  -81.515754               Florida
10    GA  32.157435  -82.907123               Georgia
11    HI  19.898682 -155.665857                Hawaii
12    IA  41.878003  -93.097702                  Iowa
13    ID  44.068202 -114.742041                 Idaho
14    IL  40.633125  -89.398528              Illinois
15    IN  40.551217  -85.602364               Indiana
16    KS  39.011902  -98.484246                Kansas
17    KY  37.839333  -84.270018              Kentucky
18    LA  31.244823  -92.145024             Louisiana
19    MA  42.407211  -71.382437         Massachusetts
20    MD  39.045755  -76.641271              Maryland
21    ME  45.253783  -69.445469                 Maine
22    MI  44.314844  -85.602364              Michigan
23    MN  46.729553  -94.685900             Minnesota
24    MO  37.964253  -91.831833              Missouri
25    MS  32.354668  -89.398528           Mississippi
26    MT  46.879682 -110.362566               Montana
27    NC  35.759573  -79.019300        North Carolina
28    ND  47.551493 -101.002012          North Dakota
29    NE  41.492537  -99.901813              Nebraska
30    NH  43.193852  -71.572395         New Hampshire
31    NJ  40.058324  -74.405661            New Jersey
32    NM  34.972730 -105.032363            New Mexico
33    NV  38.802610 -116.419389                Nevada
34    NY  43.299428  -74.217933              New York
35    OH  40.417287  -82.907123                  Ohio
36    OK  35.007752  -97.092877              Oklahoma
37    OR  43.804133 -120.554201                Oregon
38    PA  41.203322  -77.194525          Pennsylvania
39    PR  18.220833  -66.590149           Puerto Rico
40    RI  41.580095  -71.477429          Rhode Island
41    SC  33.836081  -81.163725        South Carolina
42    SD  43.969515  -99.901813          South Dakota
43    TN  35.517491  -86.580447             Tennessee
44    TX  31.968599  -99.901813                 Texas
45    UT  39.320980 -111.093731                  Utah
46    VA  37.431573  -78.656894              Virginia
47    VT  44.558803  -72.577841               Vermont
48    WA  47.751074 -120.740139            Washington
49    WI  43.784440  -88.787868             Wisconsin
50    WV  38.597626  -80.454903         West Virginia
51    WY  43.075968 -107.290284               Wyoming

In [57]:
abbr_df = state_coord_df.drop(['latitude','longitude'], axis=1)
abbr_df.head()

  state      States
0    AK      Alaska
1    AL     Alabama
2    AR    Arkansas
3    AZ     Arizona
4    CA  California

In [4]:
#takes only relevant columns from covidtrack_data and loads into new df
reduced_covidtrack_data = pd.DataFrame(covidtrack_data, columns = ["date", "state", "negative", "negativeIncrease","positive","positiveIncrease","totalTestResults","totalTestResultsIncrease","deathIncrease"])
reduced_covidtrack_data["date"]=pd.to_datetime(reduced_covidtrack_data["date"])

In [5]:
#fills NA/NanN values with 0 
final_data = reduced_covidtrack_data
final_data['negative'] = final_data['negative'].fillna(0)
final_data['negativeIncrease'] = final_data['negativeIncrease'].fillna(0)
final_data['positive'] = final_data['positive'].fillna(0)
final_data['positiveIncrease'] = final_data['positiveIncrease'].fillna(0)
final_data['totalTestResults'] = final_data['totalTestResults'].fillna(0)
final_data['totalTestResultsIncrease'] = final_data['totalTestResultsIncrease'].fillna(0)
final_data['deathIncrease'] = final_data['deathIncrease'].fillna(0)
# final_data["total count"]=final_data["positive"]+final_data["negative"]

final_data

,date,state,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease,deathIncrease
0,2020-10-26,AK,556431.0,10526,14413.0,349,570844.0,10875,0
1,2020-10-26,AL,1148993.0,4208,185322.0,967,1307694.0,5028,0
2,2020-10-26,AR,1195435.0,6315,106727.0,612,1294845.0,6845,21
3,2020-10-26,AS,1616.0,0,0.0,0,1616.0,0,0
4,2020-10-26,AZ,1481321.0,7615,238964.0,801,1714801.0,8394,1
...,...,...,...,...,...,...,...,...,...
13264,2020-01-24,WA,0.0,0,0.0,0,0.0,0,0
13265,2020-01-23,MA,0.0,0,0.0,0,2.0,1,0
13266,2020-01-23,WA,0.0,0,0.0,0,0.0,0,0
13267,2020-01-22,MA,0.0,0,0.0,0,1.0,0,0
13268,2020-01-22,WA,0.0,0,0.0,0,0.0,0,0

In [6]:
# renamed_df = final_data.rename(columns={"state_x":"States"})
final_data_lng_lat = pd.merge(final_data, state_coord_df, on="state", how="left")
final_data_lng_lat

,date,state,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease,deathIncrease,latitude,longitude,States
0,2020-10-26,AK,556431.0,10526,14413.0,349,570844.0,10875,0,63.588753,-154.493062,Alaska
1,2020-10-26,AL,1148993.0,4208,185322.0,967,1307694.0,5028,0,32.318231,-86.902298,Alabama
2,2020-10-26,AR,1195435.0,6315,106727.0,612,1294845.0,6845,21,35.201050,-91.831833,Arkansas
3,2020-10-26,AS,1616.0,0,0.0,0,1616.0,0,0,NaN,NaN,NaN
4,2020-10-26,AZ,1481321.0,7615,238964.0,801,1714801.0,8394,1,34.048928,-111.093731,Arizona
...,...,...,...,...,...,...,...,...,...,...,...,...
13264,2020-01-24,WA,0.0,0,0.0,0,0.0,0,0,47.751074,-120.740139,Washington
13265,2020-01-23,MA,0.0,0,0.0,0,2.0,1,0,42.407211,-71.382437,Massachusetts
13266,2020-01-23,WA,0.0,0,0.0,0,0.0,0,0,47.751074,-120.740139,Washington
13267,2020-01-22,MA,0.0,0,0.0,0,1.0,0,0,42.407211,-71.382437,Massachusetts
13268,2020-01-22,WA,0.0,0,0.0,0,0.0,0,0,47.751074,-120.740139,Washington

In [7]:
#creates summary data of covid statistics by state name
data_group_by = final_data_lng_lat.groupby(["States"])

Total_positive = data_group_by["positiveIncrease"].sum()
Total_negaitive = data_group_by["negativeIncrease"].sum()
Total_test = data_group_by["totalTestResultsIncrease"].sum()
Total_Deaths = data_group_by['deathIncrease'].sum()
latitude= data_group_by['latitude'].mean()
longitude= data_group_by['longitude'].mean()

state_covid_totals = pd.DataFrame({"Total positive":Total_positive,
                                  "Total negaitive":Total_negaitive,
                                  "Total test":Total_test,
                                  "Total Deaths":Total_Deaths})
#                                   "Latitude":latitude,
#                                   "Longitude":longitude
                                 
#adds state population data into dataframe for per capita calculations
state_covid_totals = state_covid_totals.join(populationdf)
state_covid_totals.drop(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'POPEST18PLUS2019', 'PCNT_POPEST18PLUS' ], axis=1, inplace=True)   
state_covid_totals.rename(columns = {'POPESTIMATE2019':'Population'}, inplace = True)
state_covid_totals.rename(columns = {'Total negaitive':'Total negative'}, inplace = True)


state_covid_totals

,Total positive,Total negative,Total test,Total Deaths,Population
States,,,,,
Alabama,185322,1148993,1307694,2866,4903185.0
Alaska,14413,556423,570836,68,731545.0
Arizona,238962,1481294,1714772,5875,7278717.0
Arkansas,106727,1195429,1294839,1833,3017804.0
California,900957,17081357,17982314,17357,39512223.0
Colorado,95087,1061126,1842254,2076,5758736.0
Connecticut,68099,2139838,2207937,4589,3565287.0
Delaware,24168,317893,342061,685,973764.0
District of Columbia,16812,481372,498184,642,705749.0
Florida,782011,5202712,5984723,16652,21477737.0
Georgia,351879,3109507,3461386,7827,10617423.0
Hawaii,14877,295153,505253,212,1415872.0
Idaho,59344,318452,370714,573,1787065.0
Illinois,383694,6947107,7330801,9792,12671821.0
Indiana,164581,1473651,2734944,4143,6732219.0
Iowa,110404,755904,866308,1648,3155070.0
Kansas,78676,547251,625927,976,2913314.0
Kentucky,97866,1726972,1809864,1410,4467673.0
Louisiana,183802,2518764,2702566,5854,4648794.0
Maine,6254,582398,588652,146,1344212.0
Maryland,140844,1747510,3287956,4099,6045680.0
Massachusetts,151777,2503912,5723872,9881,6892503.0
Michigan,179655,4472719,4652374,7552,9986857.0
Minnesota,135371,1648904,2683977,2353,5639632.0
Mississippi,115763,729544,845307,3263,2976149.0
Missouri,171022,1294927,2420588,2810,6137428.0
Montana,28501,447813,476314,303,1068778.0
Nebraska,63797,506020,569817,596,1934408.0
Nevada,96177,695129,791306,1749,3080156.0
New Hampshire,10395,322708,585204,475,1359711.0
New Jersey,229684,4225550,4455234,16292,8882190.0
New Mexico,41863,1076965,1118828,967,2096829.0
New York,496649,13337537,13834186,25742,19453561.0
North Carolina,261741,3611171,3872912,4170,10488084.0
North Dakota,38241,246237,790536,351,762062.0
Ohio,200231,4035425,4235656,5217,11689100.0
Oklahoma,117398,1417024,1534422,1251,3956971.0
Oregon,42433,787819,830252,655,4217737.0
Pennsylvania,195693,2241430,2437123,8673,12801989.0
Puerto Rico,63130,305963,369093,804,NaN
Rhode Island,31022,388866,1067142,1184,1059361.0
South Carolina,171501,1561726,1733227,3823,5148714.0
South Dakota,39741,207348,247089,375,884659.0
Tennessee,249865,3319569,3569434,3163,6829174.0
Texas,867074,6942075,7809149,17514,28995881.0
Utah,106082,931173,1037255,574,3205958.0
Vermont,2083,183975,186058,58,623989.0
Virginia,174275,2362994,2518976,3581,8535519.0
Washington,102913,2257474,2360387,2296,7614893.0
West Virginia,22223,714152,736375,424,1792147.0
Wisconsin,211927,1777873,1989800,1824,5822434.0
Wyoming,11477,113686,125163,77,578759.0

In [8]:
#Political part

In [9]:
#files to load in for dfs
geopolitics_file = "Resources/2016_US_County_Level_Presidential_Results.csv"
geopolitics_df = pd.read_csv(geopolitics_file)

merged_df_geo =pd.merge(geopolitics_df,keydf,on="state_abbr",how="left")
geopolitics_df_duplicates_removed = pd.DataFrame.drop_duplicates(merged_df_geo)
clean_politics_2016_df = pd.DataFrame(geopolitics_df_duplicates_removed)
clean_politics_2016_df

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips,state
0,0,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2013,Alaska
1,1,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2016,Alaska
2,2,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2020,Alaska
3,3,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2050,Alaska
4,4,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2060,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...
3136,3136,3233.0,12153.0,16661.0,0.194046,0.729428,"8,920",53.54%,WY,Sweetwater County,56037,Wyoming
3137,3137,7313.0,3920.0,12176.0,0.600608,0.321945,"3,393",27.87%,WY,Teton County,56039,Wyoming
3138,3138,1202.0,6154.0,8053.0,0.149261,0.764187,"4,952",61.49%,WY,Uinta County,56041,Wyoming
3139,3139,532.0,2911.0,3715.0,0.143203,0.783580,"2,379",64.04%,WY,Washakie County,56043,Wyoming
3140,3140,294.0,2898.0,3334.0,0.088182,0.869226,"2,604",78.10%,WY,Weston County,56045,Wyoming

In [10]:
#creates a political preference score for each state based on republican votes / democrat votes
clean_politics_2016_df["poli_pref"] = (clean_politics_2016_df["votes_dem"]/clean_politics_2016_df["votes_gop"]).round(2)
clean_politics_2016_df.rename(columns = {'state':'States'}, inplace = True)
clean_politics_2016_df.tail()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips,States,poli_pref
3136,3136,3233.0,12153.0,16661.0,0.194046,0.729428,"8,920",53.54%,WY,Sweetwater County,56037,Wyoming,0.27
3137,3137,7313.0,3920.0,12176.0,0.600608,0.321945,"3,393",27.87%,WY,Teton County,56039,Wyoming,1.87
3138,3138,1202.0,6154.0,8053.0,0.149261,0.764187,"4,952",61.49%,WY,Uinta County,56041,Wyoming,0.20
3139,3139,532.0,2911.0,3715.0,0.143203,0.783580,"2,379",64.04%,WY,Washakie County,56043,Wyoming,0.18
3140,3140,294.0,2898.0,3334.0,0.088182,0.869226,"2,604",78.10%,WY,Weston County,56045,Wyoming,0.10

In [32]:
#groups county vote data by state to create a summary dataframe of party preference by state
data_group_by=clean_politics_2016_df.groupby(clean_politics_2016_df['States'])
votes_dem = data_group_by['votes_dem'].sum()
votes_gop = data_group_by['votes_gop'].sum()
poli_pref = data_group_by['poli_pref'].mean()
test = votes_dem/votes_gop
state_politics_df= pd.DataFrame({'votes_dem':votes_dem,
                  'votes_gop':votes_gop,
                  'Party Score':test})


state_politics_df

                      votes_dem  votes_gop  Party Score
States
Alabama                718084.0  1306925.0     0.549445
Alaska                2697087.0  3781977.0     0.713142
Arizona                936250.0  1021154.0     0.916855
Arkansas               378729.0   677904.0     0.558676
California            7362490.0  3916209.0     1.880004
Colorado              1212209.0  1137455.0     1.065720
Connecticut            884432.0   668266.0     1.323473
Delaware               235581.0   185103.0     1.272702
District of Columbia   260223.0    11553.0    22.524279
Florida               4485745.0  4605515.0     0.973994
Georgia               1837300.0  2068623.0     0.888175
Hawaii                 266827.0   128815.0     2.071397
Idaho                  189677.0   407199.0     0.465809
Illinois              2977498.0  2118179.0     1.405688
Indiana               1031953.0  1556220.0     0.663115
Iowa                   650790.0   798923.0     0.814584
Kansas                 414788.0   656009.0     0.632290
Kentucky               628834.0  1202942.0     0.522747
Louisiana              779535.0  1178004.0     0.661742
Maine                  354873.0   334838.0     1.059835
Maryland              1497951.0   873646.0     1.714597
Massachusetts         1964768.0  1083069.0     1.814075
Michigan              2268193.0  2279805.0     0.994907
Minnesota             1366676.0  1322891.0     1.033098
Mississippi            462001.0   678457.0     0.680958
Missouri              1054889.0  1585753.0     0.665229
Montana                174521.0   274120.0     0.636659
Nebraska               273858.0   485819.0     0.563704
Nevada                 537753.0   511319.0     1.051698
New Hampshire          348521.0   345789.0     1.007901
New Jersey            2021756.0  1535513.0     1.316665
New Mexico             380724.0   315875.0     1.205300
New York              4143874.0  2640570.0     1.569310
North Carolina        2162074.0  2339603.0     0.924120
North Dakota            93526.0   216133.0     0.432724
Ohio                  2317001.0  2771984.0     0.835864
Oklahoma               419788.0   947934.0     0.442845
Oregon                 934631.0   742506.0     1.258752
Pennsylvania          2844705.0  2912941.0     0.976575
Rhode Island           249902.0   179421.0     1.392825
South Carolina         849469.0  1143611.0     0.742795
South Dakota           117442.0   227701.0     0.515773
Tennessee              867110.0  1517402.0     0.571444
Texas                 3867816.0  4681590.0     0.826176
Utah                   274188.0   452086.0     0.606495
Vermont                178179.0    95053.0     1.874523
Virginia              1916845.0  1731156.0     1.107263
Washington            1610524.0  1129120.0     1.426353
West Virginia          187457.0   486198.0     0.385557
Wisconsin             1380823.0  1403694.0     0.983707
Wyoming                 55949.0   174248.0     0.321088

In [38]:
#joins covid data to state politics data
covid_state_politics = state_covid_totals.join(state_politics_df)
#calculates covid deaths per 1 M residents for each state (for later regression analysis)
covid_state_politics['Cases per 1 M'] = ((covid_state_politics['Total positive'])/covid_state_politics['Population'])*1000000
covid_state_politics['Deaths per 1 M'] = ((covid_state_politics['Total Deaths'])/covid_state_politics['Population'])*1000000
column_names = ["Total positive", "Total negative", "Total test", "Total Deaths", "Population", "Cases per 1 M", "Deaths per 1 M", "votes_dem", "votes_gop","Party Score"]
covid_state_politics = covid_state_politics.reindex(columns=column_names)
#"Party Score" column indicates political preference of state (<1 is Republican-preference, >1 Democrat Preference)
# covid_state_politics.rename(columns = {'test':'Party Score'}, inplace = True)
covid_state_politics = covid_state_politics.drop("District of Columbia", axis=0)
covid_state_politics = covid_state_politics.drop("Puerto Rico", axis=0)
covid_state_politics["Death Rate"]=covid_state_politics["Total Deaths"]/covid_state_politics["Total positive"]
covid_state_politics

,Total positive,Total negative,Total test,Total Deaths,Population,Cases per 1 M,Deaths per 1 M,votes_dem,votes_gop,Party Score,Death Rate
States,,,,,,,,,,,
Alabama,185322,1148993,1307694,2866,4903185.0,37796.248765,584.518022,718084.0,1306925.0,0.549445,0.015465
Alaska,14413,556423,570836,68,731545.0,19702.137257,92.953954,2697087.0,3781977.0,0.713142,0.004718
Arizona,238962,1481294,1714772,5875,7278717.0,32830.236428,807.147743,936250.0,1021154.0,0.916855,0.024585
Arkansas,106727,1195429,1294839,1833,3017804.0,35365.782536,607.395311,378729.0,677904.0,0.558676,0.017175
California,900957,17081357,17982314,17357,39512223.0,22801.982060,439.281789,7362490.0,3916209.0,1.880004,0.019265
Colorado,95087,1061126,1842254,2076,5758736.0,16511.783141,360.495775,1212209.0,1137455.0,1.065720,0.021833
Connecticut,68099,2139838,2207937,4589,3565287.0,19100.566097,1287.133406,884432.0,668266.0,1.323473,0.067387
Delaware,24168,317893,342061,685,973764.0,24819.155360,703.455868,235581.0,185103.0,1.272702,0.028343
Florida,782011,5202712,5984723,16652,21477737.0,36410.307101,775.314457,4485745.0,4605515.0,0.973994,0.021294
Georgia,351879,3109507,3461386,7827,10617423.0,33141.657820,737.184532,1837300.0,2068623.0,0.888175,0.022243
Hawaii,14877,295153,505253,212,1415872.0,10507.305745,149.731049,266827.0,128815.0,2.071397,0.014250
Idaho,59344,318452,370714,573,1787065.0,33207.521830,320.637470,189677.0,407199.0,0.465809,0.009656
Illinois,383694,6947107,7330801,9792,12671821.0,30279.310290,772.738188,2977498.0,2118179.0,1.405688,0.025520
Indiana,164581,1473651,2734944,4143,6732219.0,24446.768591,615.398875,1031953.0,1556220.0,0.663115,0.025173
Iowa,110404,755904,866308,1648,3155070.0,34992.567518,522.333894,650790.0,798923.0,0.814584,0.014927
Kansas,78676,547251,625927,976,2913314.0,27005.671205,335.013665,414788.0,656009.0,0.632290,0.012405
Kentucky,97866,1726972,1809864,1410,4467673.0,21905.363262,315.600537,628834.0,1202942.0,0.522747,0.014407
Louisiana,183802,2518764,2702566,5854,4648794.0,39537.566087,1259.251324,779535.0,1178004.0,0.661742,0.031849
Maine,6254,582398,588652,146,1344212.0,4652.539927,108.613820,354873.0,334838.0,1.059835,0.023345
Maryland,140844,1747510,3287956,4099,6045680.0,23296.634953,678.004790,1497951.0,873646.0,1.714597,0.029103
Massachusetts,151777,2503912,5723872,9881,6892503.0,22020.592519,1433.586609,1964768.0,1083069.0,1.814075,0.065102
Michigan,179655,4472719,4652374,7552,9986857.0,17989.143131,756.193866,2268193.0,2279805.0,0.994907,0.042036
Minnesota,135371,1648904,2683977,2353,5639632.0,24003.516542,417.225805,1366676.0,1322891.0,1.033098,0.017382
Mississippi,115763,729544,845307,3263,2976149.0,38896.910067,1096.383279,462001.0,678457.0,0.680958,0.028187
Missouri,171022,1294927,2420588,2810,6137428.0,27865.418543,457.846512,1054889.0,1585753.0,0.665229,0.016431
Montana,28501,447813,476314,303,1068778.0,26666.903697,283.501345,174521.0,274120.0,0.636659,0.010631
Nebraska,63797,506020,569817,596,1934408.0,32980.115880,308.104598,273858.0,485819.0,0.563704,0.009342
Nevada,96177,695129,791306,1749,3080156.0,31224.717190,567.828383,537753.0,511319.0,1.051698,0.018185
New Hampshire,10395,322708,585204,475,1359711.0,7645.006917,349.338940,348521.0,345789.0,1.007901,0.045695
New Jersey,229684,4225550,4455234,16292,8882190.0,25858.937942,1834.232323,2021756.0,1535513.0,1.316665,0.070932
New Mexico,41863,1076965,1118828,967,2096829.0,19964.908917,461.172561,380724.0,315875.0,1.205300,0.023099
New York,496649,13337537,13834186,25742,19453561.0,25529.978804,1323.253876,4143874.0,2640570.0,1.569310,0.051831
North Carolina,261741,3611171,3872912,4170,10488084.0,24956.035821,397.594070,2162074.0,2339603.0,0.924120,0.015932
North Dakota,38241,246237,790536,351,762062.0,50180.956405,460.592445,93526.0,216133.0,0.432724,0.009179
Ohio,200231,4035425,4235656,5217,11689100.0,17129.719140,446.313232,2317001.0,2771984.0,0.835864,0.026055
Oklahoma,117398,1417024,1534422,1251,3956971.0,29668.653119,316.150914,419788.0,947934.0,0.442845,0.010656
Oregon,42433,787819,830252,655,4217737.0,10060.608331,155.296549,934631.0,742506.0,1.258752,0.015436
Pennsylvania,195693,2241430,2437123,8673,12801989.0,15286.140302,677.472852,2844705.0,2912941.0,0.976575,0.044319
Rhode Island,31022,388866,1067142,1184,1059361.0,29283.690829,1117.654888,249902.0,179421.0,1.392825,0.038166
South Carolina,171501,1561726,1733227,3823,5148714.0,33309.482717,742.515510,849469.0,1143611.0,0.742795,0.022291
South Dakota,39741,207348,247089,375,884659.0,44922.393826,423.892144,117442.0,227701.0,0.515773,0.009436
Tennessee,249865,3319569,3569434,3163,6829174.0,36587.880174,463.159966,867110.0,1517402.0,0.571444,0.012659
Texas,867074,6942075,7809149,17514,28995881.0,29903.350755,604.016826,3867816.0,4681590.0,0.826176,0.020199
Utah,106082,931173,1037255,574,3205958.0,33089.017386,179.041647,274188.0,452086.0,0.606495,0.005411
Vermont,2083,183975,186058,58,623989.0,3338.199872,92.950356,178179.0,95053.0,1.874523,0.027844
Virginia,174275,2362994,2518976,3581,8535519.0,20417.621940,419.540979,1916845.0,1731156.0,1.107263,0.020548
Washington,102913,2257474,2360387,2296,7614893.0,13514.700732,301.514414,1610524.0,1129120.0,1.426353,0.022310
West Virginia,22223,714152,736375,424,1792147.0,12400.210474,236.587735,187457.0,486198.0,0.385557,0.019079
Wisconsin,211927,1777873,1989800,1824,5822434.0,36398.351617,313.271048,1380823.0,1403694.0,0.983707,0.008607
Wyoming,11477,113686,125163,77,578759.0,19830.361169,133.043287,55949.0,174248.0,0.321088,0.006709

In [61]:
covid_state_politics = covid_state_politics.merge(abbr_df, on = 'States')
covid_state_politics.head()

,States,Total positive,Total negative,Total test,Total Deaths,Population,Cases per 1 M,Deaths per 1 M,votes_dem,votes_gop,Party Score,Death Rate,state
0,Alabama,185322,1148993,1307694,2866,4903185.0,37796.248765,584.518022,718084.0,1306925.0,0.549445,0.015465,AL
1,Alaska,14413,556423,570836,68,731545.0,19702.137257,92.953954,2697087.0,3781977.0,0.713142,0.004718,AK
2,Arizona,238962,1481294,1714772,5875,7278717.0,32830.236428,807.147743,936250.0,1021154.0,0.916855,0.024585,AZ
3,Arkansas,106727,1195429,1294839,1833,3017804.0,35365.782536,607.395311,378729.0,677904.0,0.558676,0.017175,AR
4,California,900957,17081357,17982314,17357,39512223.0,22801.982060,439.281789,7362490.0,3916209.0,1.880004,0.019265,CA

In [62]:
#outputs combined dataframe for matplotlib calculations and T testing
output_data = "Output/final_dataframe.csv"
covid_state_politics.to_csv(output_data)
clean_df.to_csv(mapping_data)