In [ ]:
#Covid_data Part

In [1]:
 %matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# variable to hold csv
covidtrack_to_load = "Resources/all-states-history 10-20-2020.csv"
NYtimes_to_load = "Resources/data from NYT 10-20-2020.csv"
state_list = "Resources/state list.csv"

# Read Purchasing File and store into Pandas data frame
covidtrack_data = pd.read_csv(covidtrack_to_load)
NYtimes_data = pd.read_csv(NYtimes_to_load)
state_list_data = pd.read_csv(state_list)
state_list_data["state"].value_counts()

Colorado                    1
Arizona                     1
American Samoa              1
Rhode Island                1
Texas                       1
Puerto Rico                 1
U.S. Virgin Islands         1
Nebraska                    1
Indiana                     1
Kentucky                    1
Iowa                        1
South Dakota                1
Kansas                      1
Illinois                    1
District of Columbia        1
Louisiana                   1
Utah                        1
Delaware                    1
New Mexico                  1
Maine                       1
Tennessee                   1
Idaho                       1
Maryland                    1
Michigan                    1
Wisconsin                   1
Minnesota                   1
Connecticut                 1
New Hampshire               1
Northern Mariana Islands    1
Nevada                      1
Washington                  1
Georgia                     1
Florida                     1
South Carolina              1
North Dakota                1
Wyoming                     1
Oklahoma                    1
Arkansas                    1
Montana                     1
New Jersey                  1
Guam                        1
California                  1
Oregon                      1
Massachusetts               1
Alabama                     1
Pennsylvania                1
North Carolina              1
Alaska                      1
Virginia                    1
Mississippi                 1
New York                    1
Ohio                        1
West Virginia               1
Vermont                     1
Missouri                    1
Hawaii                      1
Name: state, dtype: int64

In [7]:
reduced_covidtrack_data = pd.DataFrame(covidtrack_data, columns = ["date", "state", "negative", "negativeIncrease","positive","positiveIncrease","totalTestResults","totalTestResultsIncrease"])
reduced_covidtrack_data["date"]=pd.to_datetime(reduced_covidtrack_data["date"])
reduced_covidtrack_data

,date,state,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease
0,2020-10-20,AK,534093.0,10090,12432.0,212,546525.0,10302
1,2020-10-20,AL,1112559.0,4731,174528.0,1043,1265575.0,5475
2,2020-10-20,AR,1137234.0,7110,100441.0,844,1231652.0,7738
3,2020-10-20,AS,1616.0,0,0.0,0,1616.0,0
4,2020-10-20,AZ,1419675.0,6571,232937.0,1040,1647345.0,7560
...,...,...,...,...,...,...,...,...
12928,2020-01-24,WA,0.0,0,0.0,0,0.0,0
12929,2020-01-23,MA,NaN,0,NaN,0,2.0,1
12930,2020-01-23,WA,0.0,0,0.0,0,0.0,0
12931,2020-01-22,MA,NaN,0,NaN,0,1.0,0
12932,2020-01-22,WA,0.0,0,0.0,0,0.0,0

In [8]:
NYtimes_data["date"]=pd.to_datetime(NYtimes_data["date"])

In [9]:
new_data= pd.merge(NYtimes_data, state_list_data, on="state",how="left")
final_data = pd.merge(new_data, reduced_covidtrack_data,left_on=["date","initial"],right_on=["date","state"],how="left")
final_data['negative'] = final_data['negative'].fillna(0)
final_data['negativeIncrease'] = final_data['negativeIncrease'].fillna(0)
final_data['positive'] = final_data['positive'].fillna(0)
final_data['positiveIncrease'] = final_data['positiveIncrease'].fillna(0)
final_data['totalTestResults'] = final_data['totalTestResults'].fillna(0)
final_data['totalTestResultsIncrease'] = final_data['totalTestResultsIncrease'].fillna(0)
# final_data["total count"]=final_data["positive"]+final_data["negative"]
final_data

,date,state_x,fips,cases,deaths,initial,state_y,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease
0,2020-01-21,Washington,53,1,0,WA,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-22,Washington,53,1,0,WA,WA,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-23,Washington,53,1,0,WA,WA,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-24,Illinois,17,1,0,IL,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-24,Washington,53,1,0,WA,WA,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12769,2020-10-20,Virginia,51,167754,3485,VA,VA,2254727.0,13055.0,167754.0,926.0,2411940.0,13829.0
12770,2020-10-20,Washington,53,103845,2380,WA,WA,2145675.0,13091.0,98661.0,460.0,2244336.0,13551.0
12771,2020-10-20,West Virginia,54,20519,408,WV,WV,671290.0,3593.0,20519.0,226.0,691809.0,3819.0
12772,2020-10-20,Wisconsin,55,187898,1660,WI,WI,1712883.0,9070.0,187828.0,4686.0,1900711.0,13756.0
12773,2020-10-20,Wyoming,56,9526,61,WY,WY,108754.0,0.0,9526.0,215.0,118280.0,215.0

In [32]:
renamed_df = final_data.rename(columns={"state_x":"States"})
                   
data_group_by = renamed_df.groupby(["States",renamed_df['date'].dt.month_name().str[:3]], sort="States")

Total_positive = data_group_by["positiveIncrease"].sum()
Total_negaitive = data_group_by["negativeIncrease"].sum()
Total_test = data_group_by["totalTestResultsIncrease"].sum()
Total_Deaths = data_group_by['deaths'].sum()

state_covid_totals= pd.DataFrame({"Total positive":Total_positive,
                                  "Total negaitive":Total_negaitive,
                                  "Total test":Total_test,
                 "Total Deaths":Total_Deaths})
state_covid_totals

              Total positive  Total negaitive  Total test  Total Deaths
States  date
Alabama Apr           6038.0          73879.0     79917.0          4044
        Aug          38335.0         257485.0    289359.0         58883
        Jul          49678.0         233137.0    280879.0         38436
        Jun          20142.0         168957.0    184836.0         23697
        Mar            981.0           6288.0      7269.0            42
...                      ...              ...         ...           ...
Wyoming Jun            584.0           8695.0      9279.0           555
        Mar            109.0           1999.0      2108.0             0
        May            344.0          14588.0     14932.0           300
        Oct           3578.0          13542.0     17120.0          1101
        Sep           2106.0          22781.0     24887.0          1375

[454 rows x 4 columns]

In [13]:
#Political part

In [23]:
#files to load in for dfs
geopolitics_file = "Resources/2016_US_County_Level_Presidential_Results.csv"
keyfile = 'Resources/state_abbr list.csv'
keydf = pd.read_csv(keyfile)
geopolitics_df = pd.read_csv(geopolitics_file)

merged_df_geo =pd.merge(geopolitics_df,keydf,on="state_abbr",how="left")
geopolitics_df_duplicates_removed = pd.DataFrame.drop_duplicates(merged_df_geo)
clean_politics_2016_df = pd.DataFrame(geopolitics_df_duplicates_removed)
clean_politics_2016_df

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips,state
0,0,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2013,Alaska
1,1,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2016,Alaska
2,2,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2020,Alaska
3,3,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2050,Alaska
4,4,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2060,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...
3136,3136,3233.0,12153.0,16661.0,0.194046,0.729428,"8,920",53.54%,WY,Sweetwater County,56037,Wyoming
3137,3137,7313.0,3920.0,12176.0,0.600608,0.321945,"3,393",27.87%,WY,Teton County,56039,Wyoming
3138,3138,1202.0,6154.0,8053.0,0.149261,0.764187,"4,952",61.49%,WY,Uinta County,56041,Wyoming
3139,3139,532.0,2911.0,3715.0,0.143203,0.783580,"2,379",64.04%,WY,Washakie County,56043,Wyoming
3140,3140,294.0,2898.0,3334.0,0.088182,0.869226,"2,604",78.10%,WY,Weston County,56045,Wyoming

In [30]:
clean_politics_2016_df["poli_pref"] = (clean_politics_2016_df["votes_dem"]/clean_politics_2016_df["votes_gop"]).round(2)
clean_politics_2016_df.rename(columns = {'state':'States'}, inplace = True)
clean_politics_2016_df.tail()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips,States,poli_pref
3136,3136,3233.0,12153.0,16661.0,0.194046,0.729428,"8,920",53.54%,WY,Sweetwater County,56037,Wyoming,0.27
3137,3137,7313.0,3920.0,12176.0,0.600608,0.321945,"3,393",27.87%,WY,Teton County,56039,Wyoming,1.87
3138,3138,1202.0,6154.0,8053.0,0.149261,0.764187,"4,952",61.49%,WY,Uinta County,56041,Wyoming,0.20
3139,3139,532.0,2911.0,3715.0,0.143203,0.783580,"2,379",64.04%,WY,Washakie County,56043,Wyoming,0.18
3140,3140,294.0,2898.0,3334.0,0.088182,0.869226,"2,604",78.10%,WY,Weston County,56045,Wyoming,0.10

In [31]:
data_group_by=clean_politics_2016_df.groupby(clean_politics_2016_df['States'])
votes_dem = data_group_by['votes_dem'].sum()
votes_gop = data_group_by['votes_gop'].sum()
poli_pref = data_group_by['poli_pref'].mean()
test = votes_dem/votes_gop
state_politics_df= pd.DataFrame({'votes_dem':votes_dem,
                  'votes_gop':votes_gop,
                  'Party Score':test})
state_politics_df

                      votes_dem  votes_gop  Party Score
States
Alabama                718084.0  1306925.0     0.549445
Alaska                2697087.0  3781977.0     0.713142
Arizona                936250.0  1021154.0     0.916855
Arkansas               378729.0   677904.0     0.558676
California            7362490.0  3916209.0     1.880004
Colorado              1212209.0  1137455.0     1.065720
Connecticut            884432.0   668266.0     1.323473
Delaware               235581.0   185103.0     1.272702
District of Columbia   260223.0    11553.0    22.524279
Florida               4485745.0  4605515.0     0.973994
Georgia               1837300.0  2068623.0     0.888175
Hawaii                 266827.0   128815.0     2.071397
Idaho                  189677.0   407199.0     0.465809
Illinois              2977498.0  2118179.0     1.405688
Indiana               1031953.0  1556220.0     0.663115
Iowa                   650790.0   798923.0     0.814584
Kansas                 414788.0   656009.0     0.632290
Kentucky               628834.0  1202942.0     0.522747
Louisiana              779535.0  1178004.0     0.661742
Maine                  354873.0   334838.0     1.059835
Maryland              1497951.0   873646.0     1.714597
Massachusetts         1964768.0  1083069.0     1.814075
Michigan              2268193.0  2279805.0     0.994907
Minnesota             1366676.0  1322891.0     1.033098
Mississippi            462001.0   678457.0     0.680958
Missouri              1054889.0  1585753.0     0.665229
Montana                174521.0   274120.0     0.636659
Nebraska               273858.0   485819.0     0.563704
Nevada                 537753.0   511319.0     1.051698
New Hampshire          348521.0   345789.0     1.007901
New Jersey            2021756.0  1535513.0     1.316665
New Mexico             380724.0   315875.0     1.205300
New York              4143874.0  2640570.0     1.569310
North Carolina        2162074.0  2339603.0     0.924120
North Dakota            93526.0   216133.0     0.432724
Ohio                  2317001.0  2771984.0     0.835864
Oklahoma               419788.0   947934.0     0.442845
Oregon                 934631.0   742506.0     1.258752
Pennsylvania          2844705.0  2912941.0     0.976575
Rhode Island           249902.0   179421.0     1.392825
South Carolina         849469.0  1143611.0     0.742795
South Dakota           117442.0   227701.0     0.515773
Tennessee              867110.0  1517402.0     0.571444
Texas                 3867816.0  4681590.0     0.826176
Utah                   274188.0   452086.0     0.606495
Vermont                178179.0    95053.0     1.874523
Virginia              1916845.0  1731156.0     1.107263
Washington            1610524.0  1129120.0     1.426353
West Virginia          187457.0   486198.0     0.385557
Wisconsin             1380823.0  1403694.0     0.983707
Wyoming                 55949.0   174248.0     0.321088

In [34]:
covid_state_politics = state_covid_totals.join(state_politics_df)
#"Party Score" column indicates political preference of state (<1 is Republican-preference, >1 Democrat Preference)
# covid_state_politics.rename(columns = {'test':'Party Score'}, inplace = True)
covid_state_politics

              Total positive  Total negaitive  Total test  Total Deaths  \
States  date
Alabama Apr           6038.0          73879.0     79917.0          4044
        Aug          38335.0         257485.0    289359.0         58883
        Jul          49678.0         233137.0    280879.0         38436
        Jun          20142.0         168957.0    184836.0         23697
        Mar            981.0           6288.0      7269.0            42
...                      ...              ...         ...           ...
Wyoming Jun            584.0           8695.0      9279.0           555
        Mar            109.0           1999.0      2108.0             0
        May            344.0          14588.0     14932.0           300
        Oct           3578.0          13542.0     17120.0          1101
        Sep           2106.0          22781.0     24887.0          1375

              votes_dem  votes_gop  Party Score
States  date
Alabama Apr    718084.0  1306925.0     0.549445
        Aug    718084.0  1306925.0     0.549445
        Jul    718084.0  1306925.0     0.549445
        Jun    718084.0  1306925.0     0.549445
        Mar    718084.0  1306925.0     0.549445
...                 ...        ...          ...
Wyoming Jun     55949.0   174248.0     0.321088
        Mar     55949.0   174248.0     0.321088
        May     55949.0   174248.0     0.321088
        Oct     55949.0   174248.0     0.321088
        Sep     55949.0   174248.0     0.321088

[454 rows x 7 columns]

In [35]:
output_data = "Output/final_dataframe.csv"
covid_state_politics.to_csv(output_data)