In [1]:
#Covid_data Part

In [2]:
 %matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [76]:
# variable to hold csv
covidtrack_to_load = "Resources/all-states-history 10-20-2020.csv"
NYtimes_to_load = "Resources/data from NYT 10-20-2020.csv"

keyfile = 'Resources/state_abbr list.csv'
keydf = pd.read_csv(keyfile)

# Read Purchasing File and store into Pandas data frame
covidtrack_data = pd.read_csv(covidtrack_to_load)
NYtimes_data = pd.read_csv(NYtimes_to_load)
covidtrack_data.head()

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2020-10-20,AK,A,67.0,67.0,0,NaN,NaN,NaN,38.0,...,546525.0,10302,NaN,NaN,NaN,NaN,NaN,0,546525.0,10302
1,2020-10-20,AL,A,2805.0,2633.0,16,172.0,19081.0,19081.0,846.0,...,1265575.0,5475,NaN,NaN,61855.0,NaN,NaN,0,1265575.0,5475
2,2020-10-20,AR,A+,1728.0,1576.0,14,152.0,6428.0,6428.0,627.0,...,1231652.0,7738,NaN,21856.0,NaN,37538.0,NaN,0,1231652.0,7738
3,2020-10-20,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,1616.0,0,NaN,NaN,NaN,NaN,NaN,0,1616.0,0
4,2020-10-20,AZ,A+,5837.0,5550.0,7,287.0,20719.0,20719.0,777.0,...,1647345.0,7560,309446.0,NaN,NaN,NaN,1647345.0,7560,NaN,0

In [33]:
state_coord_df = pd.read_csv('Resources/state_geocoord.csv', header=0)
state_coord_df.head()
state_coord_df.rename(columns = {'name':'States'}, inplace = True)
state_coord_df

   state   latitude   longitude                States
0     AK  63.588753 -154.493062                Alaska
1     AL  32.318231  -86.902298               Alabama
2     AR  35.201050  -91.831833              Arkansas
3     AZ  34.048928 -111.093731               Arizona
4     CA  36.778261 -119.417932            California
5     CO  39.550051 -105.782067              Colorado
6     CT  41.603221  -73.087749           Connecticut
7     DC  38.905985  -77.033418  District of Columbia
8     DE  38.910832  -75.527670              Delaware
9     FL  27.664827  -81.515754               Florida
10    GA  32.157435  -82.907123               Georgia
11    HI  19.898682 -155.665857                Hawaii
12    IA  41.878003  -93.097702                  Iowa
13    ID  44.068202 -114.742041                 Idaho
14    IL  40.633125  -89.398528              Illinois
15    IN  40.551217  -85.602364               Indiana
16    KS  39.011902  -98.484246                Kansas
17    KY  37.839333  -84.270018              Kentucky
18    LA  31.244823  -92.145024             Louisiana
19    MA  42.407211  -71.382437         Massachusetts
20    MD  39.045755  -76.641271              Maryland
21    ME  45.253783  -69.445469                 Maine
22    MI  44.314844  -85.602364              Michigan
23    MN  46.729553  -94.685900             Minnesota
24    MO  37.964253  -91.831833              Missouri
25    MS  32.354668  -89.398528           Mississippi
26    MT  46.879682 -110.362566               Montana
27    NC  35.759573  -79.019300        North Carolina
28    ND  47.551493 -101.002012          North Dakota
29    NE  41.492537  -99.901813              Nebraska
30    NH  43.193852  -71.572395         New Hampshire
31    NJ  40.058324  -74.405661            New Jersey
32    NM  34.972730 -105.032363            New Mexico
33    NV  38.802610 -116.419389                Nevada
34    NY  43.299428  -74.217933              New York
35    OH  40.417287  -82.907123                  Ohio
36    OK  35.007752  -97.092877              Oklahoma
37    OR  43.804133 -120.554201                Oregon
38    PA  41.203322  -77.194525          Pennsylvania
39    PR  18.220833  -66.590149           Puerto Rico
40    RI  41.580095  -71.477429          Rhode Island
41    SC  33.836081  -81.163725        South Carolina
42    SD  43.969515  -99.901813          South Dakota
43    TN  35.517491  -86.580447             Tennessee
44    TX  31.968599  -99.901813                 Texas
45    UT  39.320980 -111.093731                  Utah
46    VA  37.431573  -78.656894              Virginia
47    VT  44.558803  -72.577841               Vermont
48    WA  47.751074 -120.740139            Washington
49    WI  43.784440  -88.787868             Wisconsin
50    WV  38.597626  -80.454903         West Virginia
51    WY  43.075968 -107.290284               Wyoming

In [77]:
reduced_covidtrack_data = pd.DataFrame(covidtrack_data, columns = ["date", "state", "negative", "negativeIncrease","positive","positiveIncrease","totalTestResults","totalTestResultsIncrease","deathIncrease"])
reduced_covidtrack_data["date"]=pd.to_datetime(reduced_covidtrack_data["date"])
reduced_covidtrack_data

,date,state,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease,deathIncrease
0,2020-10-20,AK,534093.0,10090,12432.0,212,546525.0,10302,0
1,2020-10-20,AL,1112559.0,4731,174528.0,1043,1265575.0,5475,16
2,2020-10-20,AR,1137234.0,7110,100441.0,844,1231652.0,7738,14
3,2020-10-20,AS,1616.0,0,0.0,0,1616.0,0,0
4,2020-10-20,AZ,1419675.0,6571,232937.0,1040,1647345.0,7560,7
...,...,...,...,...,...,...,...,...,...
12928,2020-01-24,WA,0.0,0,0.0,0,0.0,0,0
12929,2020-01-23,MA,NaN,0,NaN,0,2.0,1,0
12930,2020-01-23,WA,0.0,0,0.0,0,0.0,0,0
12931,2020-01-22,MA,NaN,0,NaN,0,1.0,0,0
12932,2020-01-22,WA,0.0,0,0.0,0,0.0,0,0

In [81]:
NYtimes_data["date"]=pd.to_datetime(NYtimes_data["date"])

In [82]:
new_data= pd.merge(NYtimes_data, keydf, on="state",how="left")
final_data = pd.merge(new_data, reduced_covidtrack_data,left_on=["date","state_abbr"],right_on=["date","state"],how="left")

final_data['negative'] = final_data['negative'].fillna(0)
final_data['negativeIncrease'] = final_data['negativeIncrease'].fillna(0)
final_data['positive'] = final_data['positive'].fillna(0)
final_data['positiveIncrease'] = final_data['positiveIncrease'].fillna(0)
final_data['totalTestResults'] = final_data['totalTestResults'].fillna(0)
final_data['totalTestResultsIncrease'] = final_data['totalTestResultsIncrease'].fillna(0)
final_data['deathIncrease'] = final_data['deathIncrease'].fillna(0)
# final_data["total count"]=final_data["positive"]+final_data["negative"]

final_data

,date,state_x,fips,cases,deaths,state_abbr,state_y,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease,deathIncrease
0,2020-01-21,Washington,53,1,0,WA,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-01-22,Washington,53,1,0,WA,WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-23,Washington,53,1,0,WA,WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-24,Illinois,17,1,0,IL,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-24,Washington,53,1,0,WA,WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12769,2020-10-20,Virginia,51,167754,3485,VA,VA,2254727.0,13055.0,167754.0,926.0,2411940.0,13829.0,28.0
12770,2020-10-20,Washington,53,103845,2380,WA,WA,2145675.0,13091.0,98661.0,460.0,2244336.0,13551.0,19.0
12771,2020-10-20,West Virginia,54,20519,408,WV,WV,671290.0,3593.0,20519.0,226.0,691809.0,3819.0,9.0
12772,2020-10-20,Wisconsin,55,187898,1660,WI,WI,1712883.0,9070.0,187828.0,4686.0,1900711.0,13756.0,35.0
12773,2020-10-20,Wyoming,56,9526,61,WY,WY,108754.0,0.0,9526.0,215.0,118280.0,215.0,4.0

In [83]:
renamed_df = final_data.rename(columns={"state_x":"States"})
final_data_lng_lat = pd.merge(renamed_df, state_coord_df, on="States", how="left")
final_data_lng_lat

,date,States,fips,cases,deaths,state_abbr,state_y,negative,negativeIncrease,positive,positiveIncrease,totalTestResults,totalTestResultsIncrease,deathIncrease,state,latitude,longitude
0,2020-01-21,Washington,53,1,0,WA,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,WA,47.751074,-120.740139
1,2020-01-22,Washington,53,1,0,WA,WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,WA,47.751074,-120.740139
2,2020-01-23,Washington,53,1,0,WA,WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,WA,47.751074,-120.740139
3,2020-01-24,Illinois,17,1,0,IL,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,IL,40.633125,-89.398528
4,2020-01-24,Washington,53,1,0,WA,WA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,WA,47.751074,-120.740139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12769,2020-10-20,Virginia,51,167754,3485,VA,VA,2254727.0,13055.0,167754.0,926.0,2411940.0,13829.0,28.0,VA,37.431573,-78.656894
12770,2020-10-20,Washington,53,103845,2380,WA,WA,2145675.0,13091.0,98661.0,460.0,2244336.0,13551.0,19.0,WA,47.751074,-120.740139
12771,2020-10-20,West Virginia,54,20519,408,WV,WV,671290.0,3593.0,20519.0,226.0,691809.0,3819.0,9.0,WV,38.597626,-80.454903
12772,2020-10-20,Wisconsin,55,187898,1660,WI,WI,1712883.0,9070.0,187828.0,4686.0,1900711.0,13756.0,35.0,WI,43.784440,-88.787868
12773,2020-10-20,Wyoming,56,9526,61,WY,WY,108754.0,0.0,9526.0,215.0,118280.0,215.0,4.0,WY,43.075968,-107.290284

In [85]:
data_group_by = final_data_lng_lat.groupby(["States","latitude","longitude",final_data_lng_lat['date'].dt.month_name().str[:3]], sort="States")

Total_positive = data_group_by["positiveIncrease"].sum()
Total_negaitive = data_group_by["negativeIncrease"].sum()
Total_test = data_group_by["totalTestResultsIncrease"].sum()
Total_Deaths = data_group_by['deathIncrease'].sum()
# latitude= data_group_by['latitude'].mean()
# longitude= data_group_by['longitude'].mean()

state_covid_totals= pd.DataFrame({"Total positive":Total_positive,
                                  "Total negaitive":Total_negaitive,
                                  "Total test":Total_test,
                                  "Total Deaths":Total_Deaths})
#                                   "Latitude":latitude,
#                                   "Longitude":longitude
                                 
state_covid_totals

                                    Total positive  Total negaitive  \
States  latitude  longitude   date
Alabama 32.318231 -86.902298  Apr           6038.0          73879.0
                              Aug          38335.0         257485.0
                              Jul          49678.0         233137.0
                              Jun          20142.0         168957.0
                              Mar            981.0           6288.0
...                                            ...              ...
Wyoming 43.075968 -107.290284 Jun            584.0           8695.0
                              Mar            109.0           1999.0
                              May            344.0          14588.0
                              Oct           3578.0          13542.0
                              Sep           2106.0          22781.0

                                    Total test  Total Deaths
States  latitude  longitude   date
Alabama 32.318231 -86.902298  Apr      79917.0         256.0
                              Aug     289359.0         602.0
                              Jul     280879.0         630.0
                              Jun     184836.0         319.0
                              Mar       7269.0          13.0
...                                        ...           ...
Wyoming 43.075968 -107.290284 Jun       9279.0           4.0
                              Mar       2108.0           0.0
                              May      14932.0           9.0
                              Oct      17120.0          11.0
                              Sep      24887.0          13.0

[430 rows x 4 columns]

In [8]:
#Political part

In [86]:
#files to load in for dfs
geopolitics_file = "Resources/2016_US_County_Level_Presidential_Results.csv"
geopolitics_df = pd.read_csv(geopolitics_file)

merged_df_geo =pd.merge(geopolitics_df,keydf,on="state_abbr",how="left")
geopolitics_df_duplicates_removed = pd.DataFrame.drop_duplicates(merged_df_geo)
clean_politics_2016_df = pd.DataFrame(geopolitics_df_duplicates_removed)
clean_politics_2016_df

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips,state
0,0,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2013,Alaska
1,1,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2016,Alaska
2,2,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2020,Alaska
3,3,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2050,Alaska
4,4,93003.0,130413.0,246588.0,0.377159,0.528870,"37,410",15.17%,AK,Alaska,2060,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...
3136,3136,3233.0,12153.0,16661.0,0.194046,0.729428,"8,920",53.54%,WY,Sweetwater County,56037,Wyoming
3137,3137,7313.0,3920.0,12176.0,0.600608,0.321945,"3,393",27.87%,WY,Teton County,56039,Wyoming
3138,3138,1202.0,6154.0,8053.0,0.149261,0.764187,"4,952",61.49%,WY,Uinta County,56041,Wyoming
3139,3139,532.0,2911.0,3715.0,0.143203,0.783580,"2,379",64.04%,WY,Washakie County,56043,Wyoming
3140,3140,294.0,2898.0,3334.0,0.088182,0.869226,"2,604",78.10%,WY,Weston County,56045,Wyoming

In [87]:
clean_politics_2016_df["poli_pref"] = (clean_politics_2016_df["votes_dem"]/clean_politics_2016_df["votes_gop"]).round(2)
clean_politics_2016_df.rename(columns = {'state':'States'}, inplace = True)
clean_politics_2016_df.tail()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips,States,poli_pref
3136,3136,3233.0,12153.0,16661.0,0.194046,0.729428,"8,920",53.54%,WY,Sweetwater County,56037,Wyoming,0.27
3137,3137,7313.0,3920.0,12176.0,0.600608,0.321945,"3,393",27.87%,WY,Teton County,56039,Wyoming,1.87
3138,3138,1202.0,6154.0,8053.0,0.149261,0.764187,"4,952",61.49%,WY,Uinta County,56041,Wyoming,0.20
3139,3139,532.0,2911.0,3715.0,0.143203,0.783580,"2,379",64.04%,WY,Washakie County,56043,Wyoming,0.18
3140,3140,294.0,2898.0,3334.0,0.088182,0.869226,"2,604",78.10%,WY,Weston County,56045,Wyoming,0.10

In [91]:
data_group_by=clean_politics_2016_df.groupby(clean_politics_2016_df['States'])
votes_dem = data_group_by['votes_dem'].sum()
votes_gop = data_group_by['votes_gop'].sum()
poli_pref = data_group_by['poli_pref'].mean()
test = votes_dem/votes_gop
state_politics_df= pd.DataFrame({'votes_dem':votes_dem,
                  'votes_gop':votes_gop,
                  'Party Score':test})
state_politics_df

                      votes_dem  votes_gop  Party Score
States
Alabama                718084.0  1306925.0     0.549445
Alaska                2697087.0  3781977.0     0.713142
Arizona                936250.0  1021154.0     0.916855
Arkansas               378729.0   677904.0     0.558676
California            7362490.0  3916209.0     1.880004
Colorado              1212209.0  1137455.0     1.065720
Connecticut            884432.0   668266.0     1.323473
Delaware               235581.0   185103.0     1.272702
District of Columbia   260223.0    11553.0    22.524279
Florida               4485745.0  4605515.0     0.973994
Georgia               1837300.0  2068623.0     0.888175
Hawaii                 266827.0   128815.0     2.071397
Idaho                  189677.0   407199.0     0.465809
Illinois              2977498.0  2118179.0     1.405688
Indiana               1031953.0  1556220.0     0.663115
Iowa                   650790.0   798923.0     0.814584
Kansas                 414788.0   656009.0     0.632290
Kentucky               628834.0  1202942.0     0.522747
Louisiana              779535.0  1178004.0     0.661742
Maine                  354873.0   334838.0     1.059835
Maryland              1497951.0   873646.0     1.714597
Massachusetts         1964768.0  1083069.0     1.814075
Michigan              2268193.0  2279805.0     0.994907
Minnesota             1366676.0  1322891.0     1.033098
Mississippi            462001.0   678457.0     0.680958
Missouri              1054889.0  1585753.0     0.665229
Montana                174521.0   274120.0     0.636659
Nebraska               273858.0   485819.0     0.563704
Nevada                 537753.0   511319.0     1.051698
New Hampshire          348521.0   345789.0     1.007901
New Jersey            2021756.0  1535513.0     1.316665
New Mexico             380724.0   315875.0     1.205300
New York              4143874.0  2640570.0     1.569310
North Carolina        2162074.0  2339603.0     0.924120
North Dakota            93526.0   216133.0     0.432724
Ohio                  2317001.0  2771984.0     0.835864
Oklahoma               419788.0   947934.0     0.442845
Oregon                 934631.0   742506.0     1.258752
Pennsylvania          2844705.0  2912941.0     0.976575
Rhode Island           249902.0   179421.0     1.392825
South Carolina         849469.0  1143611.0     0.742795
South Dakota           117442.0   227701.0     0.515773
Tennessee              867110.0  1517402.0     0.571444
Texas                 3867816.0  4681590.0     0.826176
Utah                   274188.0   452086.0     0.606495
Vermont                178179.0    95053.0     1.874523
Virginia              1916845.0  1731156.0     1.107263
Washington            1610524.0  1129120.0     1.426353
West Virginia          187457.0   486198.0     0.385557
Wisconsin             1380823.0  1403694.0     0.983707
Wyoming                 55949.0   174248.0     0.321088

In [89]:
covid_state_politics = state_covid_totals.join(state_politics_df)
#"Party Score" column indicates political preference of state (<1 is Republican-preference, >1 Democrat Preference)
# covid_state_politics.rename(columns = {'test':'Party Score'}, inplace = True)
covid_state_politics

                                    Total positive  Total negaitive  \
States  latitude  longitude   date
Alabama 32.318231 -86.902298  Apr           6038.0          73879.0
                              Aug          38335.0         257485.0
                              Jul          49678.0         233137.0
                              Jun          20142.0         168957.0
                              Mar            981.0           6288.0
...                                            ...              ...
Wyoming 43.075968 -107.290284 Jun            584.0           8695.0
                              Mar            109.0           1999.0
                              May            344.0          14588.0
                              Oct           3578.0          13542.0
                              Sep           2106.0          22781.0

                                    Total test  Total Deaths  votes_dem  \
States  latitude  longitude   date
Alabama 32.318231 -86.902298  Apr      79917.0         256.0   718084.0
                              Aug     289359.0         602.0   718084.0
                              Jul     280879.0         630.0   718084.0
                              Jun     184836.0         319.0   718084.0
                              Mar       7269.0          13.0   718084.0
...                                        ...           ...        ...
Wyoming 43.075968 -107.290284 Jun       9279.0           4.0    55949.0
                              Mar       2108.0           0.0    55949.0
                              May      14932.0           9.0    55949.0
                              Oct      17120.0          11.0    55949.0
                              Sep      24887.0          13.0    55949.0

                                    votes_gop  Party Score
States  latitude  longitude   date
Alabama 32.318231 -86.902298  Apr   1306925.0     0.549445
                              Aug   1306925.0     0.549445
                              Jul   1306925.0     0.549445
                              Jun   1306925.0     0.549445
                              Mar   1306925.0     0.549445
...                                       ...          ...
Wyoming 43.075968 -107.290284 Jun    174248.0     0.321088
                              Mar    174248.0     0.321088
                              May    174248.0     0.321088
                              Oct    174248.0     0.321088
                              Sep    174248.0     0.321088

[430 rows x 7 columns]

In [90]:
output_data = "Output/final_dataframe.csv"
covid_state_politics.to_csv(output_data)

                       latitude   longitude
States
Alabama               32.318231  -86.902298
Alaska                63.588753 -154.493062
Arizona               34.048928 -111.093731
Arkansas              35.201050  -91.831833
California            36.778261 -119.417932
Colorado              39.550051 -105.782067
Connecticut           41.603221  -73.087749
Delaware              38.910832  -75.527670
District of Columbia  38.905985  -77.033418
Florida               27.664827  -81.515754
Georgia               32.157435  -82.907123
Hawaii                19.898682 -155.665857
Idaho                 44.068202 -114.742041
Illinois              40.633125  -89.398528
Indiana               40.551217  -85.602364
Iowa                  41.878003  -93.097702
Kansas                39.011902  -98.484246
Kentucky              37.839333  -84.270018
Louisiana             31.244823  -92.145024
Maine                 45.253783  -69.445469
Maryland              39.045755  -76.641271
Massachusetts         42.407211  -71.382437
Michigan              44.314844  -85.602364
Minnesota             46.729553  -94.685900
Mississippi           32.354668  -89.398528
Missouri              37.964253  -91.831833
Montana               46.879682 -110.362566
Nebraska              41.492537  -99.901813
Nevada                38.802610 -116.419389
New Hampshire         43.193852  -71.572395
New Jersey            40.058324  -74.405661
New Mexico            34.972730 -105.032363
New York              43.299428  -74.217933
North Carolina        35.759573  -79.019300
North Dakota          47.551493 -101.002012
Ohio                  40.417287  -82.907123
Oklahoma              35.007752  -97.092877
Oregon                43.804133 -120.554201
Pennsylvania          41.203322  -77.194525
Puerto Rico           18.220833  -66.590149
Rhode Island          41.580095  -71.477429
South Carolina        33.836081  -81.163725
South Dakota          43.969515  -99.901813
Tennessee             35.517491  -86.580447
Texas                 31.968599  -99.901813
Utah                  39.320980 -111.093731
Vermont               44.558803  -72.577841
Virginia              37.431573  -78.656894
Washington            47.751074 -120.740139
West Virginia         38.597626  -80.454903
Wisconsin             43.784440  -88.787868
Wyoming               43.075968 -107.290284

In [26]:
heat_df = covid_state_politics.join(state_coord)
heat_df

              Total positive  Total negaitive  Total test  Total Deaths  \
States  date
Alabama Apr           6038.0          73879.0     79917.0          4044
        Aug          38335.0         257485.0    289359.0         58883
        Jul          49678.0         233137.0    280879.0         38436
        Jun          20142.0         168957.0    184836.0         23697
        Mar            981.0           6288.0      7269.0            42
...                      ...              ...         ...           ...
Wyoming Jun            584.0           8695.0      9279.0           555
        Mar            109.0           1999.0      2108.0             0
        May            344.0          14588.0     14932.0           300
        Oct           3578.0          13542.0     17120.0          1101
        Sep           2106.0          22781.0     24887.0          1375

              votes_dem  votes_gop  Party Score   latitude   longitude
States  date
Alabama Apr    718084.0  1306925.0     0.549445  32.318231  -86.902298
        Aug    718084.0  1306925.0     0.549445  32.318231  -86.902298
        Jul    718084.0  1306925.0     0.549445  32.318231  -86.902298
        Jun    718084.0  1306925.0     0.549445  32.318231  -86.902298
        Mar    718084.0  1306925.0     0.549445  32.318231  -86.902298
...                 ...        ...          ...        ...         ...
Wyoming Jun     55949.0   174248.0     0.321088  43.075968 -107.290284
        Mar     55949.0   174248.0     0.321088  43.075968 -107.290284
        May     55949.0   174248.0     0.321088  43.075968 -107.290284
        Oct     55949.0   174248.0     0.321088  43.075968 -107.290284
        Sep     55949.0   174248.0     0.321088  43.075968 -107.290284

[454 rows x 9 columns]

In [53]:
heat_df_groupby=heat_df.groupby(heat_df['States','latitude','longitude','Party Score'])

heat_df_groupby
state_politics_df= pd.DataFrame({'votes_dem':votes_dem,
                  'votes_gop':votes_gop,
                  'Party Score':test})
state_politics_df

KeyError: ('States', 'latitude', 'longitude', 'Party Score')