In [2]:
import pandas as pd

In [3]:
final_analysis_to_load = "Output/final_dataframe.csv"

keyfile = "Resources/state_abbr list.csv"
keydf = pd.read_csv(keyfile)

final_analysis_to_load = pd.read_csv(final_analysis_to_load)

keydf.head()

        state state_abbr
0     Alabama         AL
1      Alaska         AK
2     Arizona         AZ
3    Arkansas         AR
4  California         CA

In [4]:
final_df = pd.DataFrame(final_analysis_to_load)

In [5]:
final_df.head()

,States,date,Total positive,Total negaitive,Total test,Total Deaths,votes_dem,votes_gop,Party Score
0,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445
1,Alabama,Aug,38335.0,257485.0,289359.0,58883,718084.0,1306925.0,0.549445
2,Alabama,Jul,49678.0,233137.0,280879.0,38436,718084.0,1306925.0,0.549445
3,Alabama,Jun,20142.0,168957.0,184836.0,23697,718084.0,1306925.0,0.549445
4,Alabama,Mar,981.0,6288.0,7269.0,42,718084.0,1306925.0,0.549445

In [6]:
final_df.columns

Index(['States', 'date', 'Total positive', 'Total negaitive', 'Total test',
       'Total Deaths', 'votes_dem', 'votes_gop', 'Party Score'],
      dtype='object')

In [7]:
state_death_per_capita_df = pd.DataFrame(final_df, columns=["States", "date", "Total Deaths"])

In [8]:
state_death_per_capita_df.head()

    States date  Total Deaths
0  Alabama  Apr          4044
1  Alabama  Aug         58883
2  Alabama  Jul         38436
3  Alabama  Jun         23697
4  Alabama  Mar            42

In [9]:
state_death_per_capita_df.tail()

      States date  Total Deaths
449  Wyoming  Jun           555
450  Wyoming  Mar             0
451  Wyoming  May           300
452  Wyoming  Oct          1101
453  Wyoming  Sep          1375

SyntaxError: invalid syntax (<ipython-input-10-d0b71819bf7f>, line 1)