In [472]:
import pandas as pd
geopolitics_file = "Resources/2016_US_County_Level_Presidential_Results.csv"
import numpy as np
geopolitics_df = pd.read_csv(geopolitics_file)

In [473]:
geopolitics_df.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060

In [474]:
geopolitics_df.shape

(3141, 11)

In [475]:
geopolitics_df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [476]:
geopolitics_df.count()

votes_dem         3141
votes_gop         3141
total_votes       3141
per_dem           3141
per_gop           3141
diff              3141
per_point_diff    3141
state_abbr        3141
county_name       3141
combined_fips     3141
dtype: int64

In [477]:
geopolitics_df.drop(["per_dem", "per_gop", "diff"], inplace=True, axis=1)

In [478]:
geopolitics_df.drop(["per_point_diff", "combined_fips"], inplace=True, axis=1)

In [479]:
geopolitics_df_duplicates_removed = pd.DataFrame.drop_duplicates(geopolitics_df)

In [480]:
clean_politics_2016_df = pd.DataFrame(geopolitics_df_duplicates_removed)

In [481]:
clean_politics_2016_df

      votes_dem  votes_gop  total_votes state_abbr        county_name
0       93003.0   130413.0     246588.0         AK             Alaska
29       5908.0    18110.0      24661.0         AL     Autauga County
30      18409.0    72780.0      94090.0         AL     Baldwin County
31       4848.0     5431.0      10390.0         AL     Barbour County
32       1874.0     6733.0       8748.0         AL        Bibb County
...         ...        ...          ...        ...                ...
3136     3233.0    12153.0      16661.0         WY  Sweetwater County
3137     7313.0     3920.0      12176.0         WY       Teton County
3138     1202.0     6154.0       8053.0         WY       Uinta County
3139      532.0     2911.0       3715.0         WY    Washakie County
3140      294.0     2898.0       3334.0         WY      Weston County

[3113 rows x 5 columns]

In [482]:
clean_politics_2016_df.duplicated()

0       False
29      False
30      False
31      False
32      False
        ...
3136    False
3137    False
3138    False
3139    False
3140    False
Length: 3113, dtype: bool

In [483]:
clean_politics_2016_df.shape

(3113, 5)

In [484]:
clean_politics_2016_df

      votes_dem  votes_gop  total_votes state_abbr        county_name
0       93003.0   130413.0     246588.0         AK             Alaska
29       5908.0    18110.0      24661.0         AL     Autauga County
30      18409.0    72780.0      94090.0         AL     Baldwin County
31       4848.0     5431.0      10390.0         AL     Barbour County
32       1874.0     6733.0       8748.0         AL        Bibb County
...         ...        ...          ...        ...                ...
3136     3233.0    12153.0      16661.0         WY  Sweetwater County
3137     7313.0     3920.0      12176.0         WY       Teton County
3138     1202.0     6154.0       8053.0         WY       Uinta County
3139      532.0     2911.0       3715.0         WY    Washakie County
3140      294.0     2898.0       3334.0         WY      Weston County

[3113 rows x 5 columns]

In [485]:
# I created the new column "poli_pref" by dividing the rows in the "votes_dem" column by the rows in the "votesd_gop" column.

clean_politics_2016_df["poli_pref"] = (clean_politics_2016_df["votes_dem"]/clean_politics_2016_df["votes_gop"]).round(2)

In [486]:
clean_politics_2016_df.tail()

,votes_dem,votes_gop,total_votes,state_abbr,county_name,poli_pref
3136,3233.0,12153.0,16661.0,WY,Sweetwater County,0.27
3137,7313.0,3920.0,12176.0,WY,Teton County,1.87
3138,1202.0,6154.0,8053.0,WY,Uinta County,0.20
3139,532.0,2911.0,3715.0,WY,Washakie County,0.18
3140,294.0,2898.0,3334.0,WY,Weston County,0.10

In [487]:
sum(clean_politics_2016_df["poli_pref"])

2064.4700000000007

In [488]:
# I did not set up te calculation so that a poli_pref value of "1" represents a neutral county. 
# Instead it was set-up so that the higher the poli_pref value you is, the more democractics the county is.
# the DataFrame below has the order of counties listed by their poli-pref number, 
# in descending order, i.e. Washington D.C is the most Democratic county


clean_politics_2016_df.sort_values(["poli_pref"], ascending=False)

,votes_dem,votes_gop,total_votes,state_abbr,county_name,poli_pref
316,260223.0,11553.0,280272.0,DC,District of Columbia,22.52
1206,313627.0,29290.0,351091.0,MD,Prince George's County,10.71
2411,2504.0,241.0,2896.0,SD,Oglala County,10.39
1982,318403.0,34424.0,358857.0,NY,Bronx County,9.25
223,312443.0,34493.0,365295.0,CA,San Francisco County,9.06
...,...,...,...,...,...,...
1613,34.0,653.0,715.0,MT,Garfield County,0.05
1865,14.0,257.0,286.0,NE,McPherson County,0.05
1843,20.0,367.0,394.0,NE,Grant County,0.05
2718,20.0,524.0,550.0,TX,Roberts County,0.04
2656,5.0,149.0,159.0,TX,King County,0.03

In [489]:
# I grouped the clean_politics_2016 DataFrame by the states abbreviated name. 
# this should help us to get the data we need on the state level vs. the county level
# There is a big discrepancy between the Dataframe brfotre I did the groupby (3113 vs 244) 

clean_politics_2016_df.groupby(clean_politics_2016_df["state_abbr"])

In [490]:
clean_politics_2016_df.head()

    votes_dem  votes_gop  total_votes state_abbr     county_name  poli_pref
0     93003.0   130413.0     246588.0         AK          Alaska       0.71
29     5908.0    18110.0      24661.0         AL  Autauga County       0.33
30    18409.0    72780.0      94090.0         AL  Baldwin County       0.25
31     4848.0     5431.0      10390.0         AL  Barbour County       0.89
32     1874.0     6733.0       8748.0         AL     Bibb County       0.28

In [491]:
county_vote_2016_df = clean_politics_2016_df.set_index(["state_abbr"])

In [492]:
#county_vote_2016_df = clean_politics_2016_df.set_index(["state_abbr"])

In [493]:
#county_vote_2016_df.set_index(["state_abbr", "votes_dem", "votes_gop", "total_votes", "poli_pref", "county_name"])

In [494]:
county_vote_2016_df.head()

            votes_dem  votes_gop  total_votes     county_name  poli_pref
state_abbr
AK            93003.0   130413.0     246588.0          Alaska       0.71
AL             5908.0    18110.0      24661.0  Autauga County       0.33
AL            18409.0    72780.0      94090.0  Baldwin County       0.25
AL             4848.0     5431.0      10390.0  Barbour County       0.89
AL             1874.0     6733.0       8748.0     Bibb County       0.28

In [495]:
len(county_vote_2016_df)

3113

In [496]:
county_vote_2016_df.duplicated()

state_abbr
AK    False
AL    False
AL    False
AL    False
AL    False
      ...
WY    False
WY    False
WY    False
WY    False
WY    False
Length: 3113, dtype: bool

In [497]:
county_vote_2016_df

            votes_dem  votes_gop  total_votes        county_name  poli_pref
state_abbr
AK            93003.0   130413.0     246588.0             Alaska       0.71
AL             5908.0    18110.0      24661.0     Autauga County       0.33
AL            18409.0    72780.0      94090.0     Baldwin County       0.25
AL             4848.0     5431.0      10390.0     Barbour County       0.89
AL             1874.0     6733.0       8748.0        Bibb County       0.28
...               ...        ...          ...                ...        ...
WY             3233.0    12153.0      16661.0  Sweetwater County       0.27
WY             7313.0     3920.0      12176.0       Teton County       1.87
WY             1202.0     6154.0       8053.0       Uinta County       0.20
WY              532.0     2911.0       3715.0    Washakie County       0.18
WY              294.0     2898.0       3334.0      Weston County       0.10

[3113 rows x 5 columns]

In [498]:
county_vote_2016_df.nunique()

votes_dem      2688
votes_gop      2901
total_votes    2966
county_name    1848
poli_pref       301
dtype: int64

In [499]:

county_politics_2016_df = pd.DataFrame.drop_duplicates(county_vote_2016_df)

In [500]:
county_politics_2016_df.head()

            votes_dem  votes_gop  total_votes     county_name  poli_pref
state_abbr
AK            93003.0   130413.0     246588.0          Alaska       0.71
AL             5908.0    18110.0      24661.0  Autauga County       0.33
AL            18409.0    72780.0      94090.0  Baldwin County       0.25
AL             4848.0     5431.0      10390.0  Barbour County       0.89
AL             1874.0     6733.0       8748.0     Bibb County       0.28

In [501]:
county_politics_2016_df.tail(30)

            votes_dem  votes_gop  total_votes         county_name  poli_pref
state_abbr
WV             1763.0     6971.0       9180.0       Upshur County       0.25
WV             3334.0    11077.0      15080.0        Wayne County       0.30
WV              554.0     2284.0       2955.0      Webster County       0.24
WV             1348.0     4461.0       6191.0       Wetzel County       0.30
WV              383.0     1903.0       2410.0         Wirt County       0.20
WV             8327.0    25168.0      35256.0         Wood County       0.33
WV             1061.0     6527.0       7809.0      Wyoming County       0.16
WY             6888.0     7601.0      16420.0       Albany County       0.91
WY              594.0     4067.0       5079.0     Big Horn County       0.15
WY             1324.0    15778.0      17935.0     Campbell County       0.08
WY             1279.0     4409.0       6200.0       Carbon County       0.29
WY              668.0     5520.0       6552.0     Converse County       0.12
WY              271.0     3347.0       3771.0        Crook County       0.08
WY             4200.0    11167.0      16543.0      Fremont County       0.38
WY              924.0     4418.0       5708.0       Goshen County       0.21
WY              400.0     1939.0       2535.0  Hot Springs County       0.21
WY              638.0     3477.0       4349.0      Johnson County       0.18
WY            11572.0    24844.0      39945.0      Laramie County       0.47
WY             1105.0     6779.0       8398.0      Lincoln County       0.16
WY             6573.0    23523.0      32493.0      Natrona County       0.28
WY              115.0     1116.0       1297.0     Niobrara County       0.10
WY             2535.0    11115.0      14634.0         Park County       0.23
WY              719.0     3437.0       4460.0       Platte County       0.21
WY             2926.0    10266.0      14187.0     Sheridan County       0.29
WY              644.0     3409.0       4297.0     Sublette County       0.19
WY             3233.0    12153.0      16661.0   Sweetwater County       0.27
WY             7313.0     3920.0      12176.0        Teton County       1.87
WY             1202.0     6154.0       8053.0        Uinta County       0.20
WY              532.0     2911.0       3715.0     Washakie County       0.18
WY              294.0     2898.0       3334.0       Weston County       0.10

In [502]:
county_politics_2016_df.reset_index()

,state_abbr,votes_dem,votes_gop,total_votes,county_name,poli_pref
0,AK,93003.0,130413.0,246588.0,Alaska,0.71
1,AL,5908.0,18110.0,24661.0,Autauga County,0.33
2,AL,18409.0,72780.0,94090.0,Baldwin County,0.25
3,AL,4848.0,5431.0,10390.0,Barbour County,0.89
4,AL,1874.0,6733.0,8748.0,Bibb County,0.28
...,...,...,...,...,...,...
3108,WY,3233.0,12153.0,16661.0,Sweetwater County,0.27
3109,WY,7313.0,3920.0,12176.0,Teton County,1.87
3110,WY,1202.0,6154.0,8053.0,Uinta County,0.20
3111,WY,532.0,2911.0,3715.0,Washakie County,0.18
3112,WY,294.0,2898.0,3334.0,Weston County,0.10

In [503]:
\