In [46]:
import pandas as pd
geopolitics_file = "Resources/2016_US_County_Level_Presidential_Results.csv"
import numpy as np
geopolitics_df = pd.read_csv(geopolitics_file)

In [47]:
geopolitics_df.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060

In [48]:
geopolitics_df.shape

(3141, 11)

In [49]:
geopolitics_df.drop(["Unnamed: 0"], axis=1, inplace=True)

In [50]:
geopolitics_df.count()

votes_dem         3141
votes_gop         3141
total_votes       3141
per_dem           3141
per_gop           3141
diff              3141
per_point_diff    3141
state_abbr        3141
county_name       3141
combined_fips     3141
dtype: int64

In [51]:
geopolitics_df.drop(["per_dem", "per_gop", "diff"], inplace=True, axis=1)

In [52]:
geopolitics_df.drop(["per_point_diff", "combined_fips"], inplace=True, axis=1)

In [53]:
geopolitics_df_duplicates_removed = pd.DataFrame.drop_duplicates(geopolitics_df)

In [54]:
clean_politics_2016_df = pd.DataFrame(geopolitics_df_duplicates_removed)

In [55]:
clean_politics_2016_df

      votes_dem  votes_gop  total_votes state_abbr        county_name
0       93003.0   130413.0     246588.0         AK             Alaska
29       5908.0    18110.0      24661.0         AL     Autauga County
30      18409.0    72780.0      94090.0         AL     Baldwin County
31       4848.0     5431.0      10390.0         AL     Barbour County
32       1874.0     6733.0       8748.0         AL        Bibb County
...         ...        ...          ...        ...                ...
3136     3233.0    12153.0      16661.0         WY  Sweetwater County
3137     7313.0     3920.0      12176.0         WY       Teton County
3138     1202.0     6154.0       8053.0         WY       Uinta County
3139      532.0     2911.0       3715.0         WY    Washakie County
3140      294.0     2898.0       3334.0         WY      Weston County

[3113 rows x 5 columns]

In [56]:
clean_politics_2016_df.duplicated()

0       False
29      False
30      False
31      False
32      False
        ...
3136    False
3137    False
3138    False
3139    False
3140    False
Length: 3113, dtype: bool

In [57]:
clean_politics_2016_df.shape

(3113, 5)

In [58]:
clean_politics_2016_df

      votes_dem  votes_gop  total_votes state_abbr        county_name
0       93003.0   130413.0     246588.0         AK             Alaska
29       5908.0    18110.0      24661.0         AL     Autauga County
30      18409.0    72780.0      94090.0         AL     Baldwin County
31       4848.0     5431.0      10390.0         AL     Barbour County
32       1874.0     6733.0       8748.0         AL        Bibb County
...         ...        ...          ...        ...                ...
3136     3233.0    12153.0      16661.0         WY  Sweetwater County
3137     7313.0     3920.0      12176.0         WY       Teton County
3138     1202.0     6154.0       8053.0         WY       Uinta County
3139      532.0     2911.0       3715.0         WY    Washakie County
3140      294.0     2898.0       3334.0         WY      Weston County

[3113 rows x 5 columns]

In [59]:
# I created the new column "poli_pref" by dividing the rows in the "votes_dem" column by the rows in the "votesd_gop" column.

clean_politics_2016_df["poli_pref"] = (clean_politics_2016_df["votes_dem"]/clean_politics_2016_df["votes_gop"]).round(2)

In [60]:
clean_politics_2016_df.tail()

,votes_dem,votes_gop,total_votes,state_abbr,county_name,poli_pref
3136,3233.0,12153.0,16661.0,WY,Sweetwater County,0.27
3137,7313.0,3920.0,12176.0,WY,Teton County,1.87
3138,1202.0,6154.0,8053.0,WY,Uinta County,0.20
3139,532.0,2911.0,3715.0,WY,Washakie County,0.18
3140,294.0,2898.0,3334.0,WY,Weston County,0.10

In [61]:
sum(clean_politics_2016_df["poli_pref"])

2064.4700000000007

In [62]:
# I did not set up te calculation so that a poli_pref value of "1" represents a neutral county. 
# Instead it was set-up so that the higher the poli_pref value you is, the more democractics the county is.
# the DataFrame below has the order of counties listed by their poli-pref number, 
# in descending order, i.e. Washington D.C is the most Democratic county


clean_politics_2016_df.sort_values(["poli_pref"], ascending=False)

,votes_dem,votes_gop,total_votes,state_abbr,county_name,poli_pref
316,260223.0,11553.0,280272.0,DC,District of Columbia,22.52
1206,313627.0,29290.0,351091.0,MD,Prince George's County,10.71
2411,2504.0,241.0,2896.0,SD,Oglala County,10.39
1982,318403.0,34424.0,358857.0,NY,Bronx County,9.25
223,312443.0,34493.0,365295.0,CA,San Francisco County,9.06
...,...,...,...,...,...,...
1613,34.0,653.0,715.0,MT,Garfield County,0.05
1865,14.0,257.0,286.0,NE,McPherson County,0.05
1843,20.0,367.0,394.0,NE,Grant County,0.05
2718,20.0,524.0,550.0,TX,Roberts County,0.04
2656,5.0,149.0,159.0,TX,King County,0.03

In [63]:
# I grouped the clean_politics_2016 DataFrame by the states abbreviated name. 
# this should help us to get the data we need on the state level vs. the county level
# There is a big discrepancy between the Dataframe brfotre I did the groupby (3113 vs 244) 

grouped_state_df = clean_politics_2016_df.groupby(clean_politics_2016_df["state_abbr"])

In [96]:
grouped_state_df

In [97]:
len(grouped_state_df)

51

In [98]:
len(grouped_state_df)

51