In [146]:
import pandas as pd

#files to load in for dfs
geopolitics_file = "Resources/2016_US_County_Level_Presidential_Results.csv"
file = 'Resources/us-states.csv'
keyfile = 'Resources/stateabbreviationkey.csv'
# read the csv
#reads covid data by state into dataframe
df = pd.read_csv(file, encoding="ISO-8859-1")
#reads state name and abbreviation key into dataframe
key_df = pd.read_csv(keyfile, encoding="ISO-8859-1")
#renames sloppy state column title for merging
key_df.rename(columns = {'ï»¿"State"':'state'}, inplace = True)
#renames code to state abbrv
key_df.rename(columns = {'Code':'state abv.'}, inplace = True)
#merges abbreviation key into main state dataframe
states_df = pd.merge(df, key_df, how="left", on=["state", "state"])
#renames full-name 'state' column for clarity
states_df.rename(columns = {'state':'State Name'}, inplace = True)
#drop unneccessary state abbreviation column
states_df.drop(states_df.columns[5], axis=1)
#creates politics dataframe
geopolitics_df = pd.read_csv(geopolitics_file)

In [147]:
#cleans politics df by removing irrelevant columns
geopolitics_df.drop(["per_dem", "per_gop", "diff"], inplace=True, axis=1)
geopolitics_df.drop(["per_point_diff", "combined_fips"], inplace=True, axis=1)

In [148]:
#new dataframe with removed repeat values
geopolitics_df_duplicates_removed = pd.DataFrame.drop_duplicates(geopolitics_df)
clean_politics_2016_df = pd.DataFrame(geopolitics_df_duplicates_removed)
clean_politics_2016_df

,Unnamed: 0,votes_dem,votes_gop,total_votes,state_abbr,county_name
0,0,93003.0,130413.0,246588.0,AK,Alaska
1,1,93003.0,130413.0,246588.0,AK,Alaska
2,2,93003.0,130413.0,246588.0,AK,Alaska
3,3,93003.0,130413.0,246588.0,AK,Alaska
4,4,93003.0,130413.0,246588.0,AK,Alaska
...,...,...,...,...,...,...
3136,3136,3233.0,12153.0,16661.0,WY,Sweetwater County
3137,3137,7313.0,3920.0,12176.0,WY,Teton County
3138,3138,1202.0,6154.0,8053.0,WY,Uinta County
3139,3139,532.0,2911.0,3715.0,WY,Washakie County
3140,3140,294.0,2898.0,3334.0,WY,Weston County

In [149]:
clean_politics_2016_df["poli_pref"] = (clean_politics_2016_df["votes_dem"]/clean_politics_2016_df["votes_gop"]).round(2)

In [150]:
clean_politics_2016_df.tail()

,Unnamed: 0,votes_dem,votes_gop,total_votes,state_abbr,county_name,poli_pref
3136,3136,3233.0,12153.0,16661.0,WY,Sweetwater County,0.27
3137,3137,7313.0,3920.0,12176.0,WY,Teton County,1.87
3138,3138,1202.0,6154.0,8053.0,WY,Uinta County,0.20
3139,3139,532.0,2911.0,3715.0,WY,Washakie County,0.18
3140,3140,294.0,2898.0,3334.0,WY,Weston County,0.10

In [151]:
sum(clean_politics_2016_df["poli_pref"])

2084.3499999999985

In [152]:
clean_politics_2016_df.sort_values(["poli_pref"], ascending=False)

,Unnamed: 0,votes_dem,votes_gop,total_votes,state_abbr,county_name,poli_pref
316,316,260223.0,11553.0,280272.0,DC,District of Columbia,22.52
1206,1206,313627.0,29290.0,351091.0,MD,Prince George's County,10.71
2411,2411,2504.0,241.0,2896.0,SD,Oglala County,10.39
1982,1982,318403.0,34424.0,358857.0,NY,Bronx County,9.25
223,223,312443.0,34493.0,365295.0,CA,San Francisco County,9.06
...,...,...,...,...,...,...,...
1613,1613,34.0,653.0,715.0,MT,Garfield County,0.05
1843,1843,20.0,367.0,394.0,NE,Grant County,0.05
1809,1809,18.0,355.0,390.0,NE,Banner County,0.05
2718,2718,20.0,524.0,550.0,TX,Roberts County,0.04
2656,2656,5.0,149.0,159.0,TX,King County,0.03

In [153]:
clean_politics_2016_df.groupby(clean_politics_2016_df["state_abbr"])

In [154]:
clean_politics_2016_df.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,state_abbr,county_name,poli_pref
0,0,93003.0,130413.0,246588.0,AK,Alaska,0.71
1,1,93003.0,130413.0,246588.0,AK,Alaska,0.71
2,2,93003.0,130413.0,246588.0,AK,Alaska,0.71
3,3,93003.0,130413.0,246588.0,AK,Alaska,0.71
4,4,93003.0,130413.0,246588.0,AK,Alaska,0.71

In [155]:
county_vote_2016_df = clean_politics_2016_df.set_index(["state_abbr"])

In [156]:
county_vote_2016_df.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,county_name,poli_pref
state_abbr,,,,,,
AK,0,93003.0,130413.0,246588.0,Alaska,0.71
AK,1,93003.0,130413.0,246588.0,Alaska,0.71
AK,2,93003.0,130413.0,246588.0,Alaska,0.71
AK,3,93003.0,130413.0,246588.0,Alaska,0.71
AK,4,93003.0,130413.0,246588.0,Alaska,0.71

In [157]:
county_politics_2016_df = pd.DataFrame.drop_duplicates(county_vote_2016_df)

In [158]:
county_politics_2016_df.head()

,Unnamed: 0,votes_dem,votes_gop,total_votes,county_name,poli_pref
state_abbr,,,,,,
AK,0,93003.0,130413.0,246588.0,Alaska,0.71
AK,1,93003.0,130413.0,246588.0,Alaska,0.71
AK,2,93003.0,130413.0,246588.0,Alaska,0.71
AK,3,93003.0,130413.0,246588.0,Alaska,0.71
AK,4,93003.0,130413.0,246588.0,Alaska,0.71

In [159]:
data_group_by=clean_politics_2016_df.groupby(clean_politics_2016_df['state_abbr'])
votes_dem = data_group_by['votes_dem'].sum()
votes_gop = data_group_by['votes_gop'].sum()
poli_pref = data_group_by['poli_pref'].mean()
test = votes_dem/votes_gop
state_politics_df= pd.DataFrame({'votes_dem':votes_dem,
                  'votes_gop':votes_gop,
                  'test':test})
state_politics_df

            votes_dem  votes_gop       test
state_abbr
AK          2697087.0  3781977.0   0.713142
AL           718084.0  1306925.0   0.549445
AR           378729.0   677904.0   0.558676
AZ           936250.0  1021154.0   0.916855
CA          7362490.0  3916209.0   1.880004
CO          1212209.0  1137455.0   1.065720
CT           884432.0   668266.0   1.323473
DC           260223.0    11553.0  22.524279
DE           235581.0   185103.0   1.272702
FL          4485745.0  4605515.0   0.973994
GA          1837300.0  2068623.0   0.888175
HI           266827.0   128815.0   2.071397
IA           650790.0   798923.0   0.814584
ID           189677.0   407199.0   0.465809
IL          2977498.0  2118179.0   1.405688
IN          1031953.0  1556220.0   0.663115
KS           414788.0   656009.0   0.632290
KY           628834.0  1202942.0   0.522747
LA           779535.0  1178004.0   0.661742
MA          1964768.0  1083069.0   1.814075
MD          1497951.0   873646.0   1.714597
ME           354873.0   334838.0   1.059835
MI          2268193.0  2279805.0   0.994907
MN          1366676.0  1322891.0   1.033098
MO          1054889.0  1585753.0   0.665229
MS           462001.0   678457.0   0.680958
MT           174521.0   274120.0   0.636659
NC          2162074.0  2339603.0   0.924120
ND            93526.0   216133.0   0.432724
NE           273858.0   485819.0   0.563704
NH           348521.0   345789.0   1.007901
NJ          2021756.0  1535513.0   1.316665
NM           380724.0   315875.0   1.205300
NV           537753.0   511319.0   1.051698
NY          4143874.0  2640570.0   1.569310
OH          2317001.0  2771984.0   0.835864
OK           419788.0   947934.0   0.442845
OR           934631.0   742506.0   1.258752
PA          2844705.0  2912941.0   0.976575
RI           249902.0   179421.0   1.392825
SC           849469.0  1143611.0   0.742795
SD           117442.0   227701.0   0.515773
TN           867110.0  1517402.0   0.571444
TX          3867816.0  4681590.0   0.826176
UT           274188.0   452086.0   0.606495
VA          1916845.0  1731156.0   1.107263
VT           178179.0    95053.0   1.874523
WA          1610524.0  1129120.0   1.426353
WI          1380823.0  1403694.0   0.983707
WV           187457.0   486198.0   0.385557
WY            55949.0   174248.0   0.321088

In [160]:
# returns dataframe with only data from last recorded date in NYT COVID19 API
state_covid_totals = states_df.sort_values('date').groupby('state abv.').last()

In [161]:
#merges by state covid data with state 2016 election data
covid_state_politics = state_covid_totals.join(state_politics_df)
#"Party Score" column indicates political preference of state (<1 is Republican-preference, >1 Democrat Preference)
covid_state_politics.rename(columns = {'test':'Party Score'}, inplace = True)
covid_state_politics.head()

,date,State Name,fips,cases,deaths,Abbrev,votes_dem,votes_gop,Party Score
state abv.,,,,,,,,,
AK,2020-10-19,Alaska,2,12138,63,Alaska,2697087.0,3781977.0,0.713142
AL,2020-10-19,Alabama,1,173485,2789,Ala.,718084.0,1306925.0,0.549445
AR,2020-10-19,Arkansas,5,99597,1714,Ark.,378729.0,677904.0,0.558676
AZ,2020-10-19,Arizona,4,231933,5830,Ariz.,936250.0,1021154.0,0.916855
CA,2020-10-19,California,6,882665,16987,Calif.,7362490.0,3916209.0,1.880004