In [1]:
import pandas as pd

In [2]:
final_data = "output/final_dataframe.csv"

final_data = pd.read_csv(final_data)

In [12]:
final_data_df = pd.DataFrame(final_data)
final_data_df.head(7)

,States,date,Total positive,Total negaitive,Total test,Total Deaths,votes_dem,votes_gop,Party Score
0,Alabama,Apr,6038.0,73879.0,79917.0,4044,718084.0,1306925.0,0.549445
1,Alabama,Aug,38335.0,257485.0,289359.0,58883,718084.0,1306925.0,0.549445
2,Alabama,Jul,49678.0,233137.0,280879.0,38436,718084.0,1306925.0,0.549445
3,Alabama,Jun,20142.0,168957.0,184836.0,23697,718084.0,1306925.0,0.549445
4,Alabama,Mar,981.0,6288.0,7269.0,42,718084.0,1306925.0,0.549445
5,Alabama,May,10884.0,119473.0,134111.0,14438,718084.0,1306925.0,0.549445
6,Alabama,Oct,19827.0,118084.0,133536.0,53320,718084.0,1306925.0,0.549445

In [10]:
final_data_df['Total Deaths'].sum()

26938585